<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WebRTC</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" href="../bower_components/bootstrap-social/bootstrap-social.css" media="all"/>
    <link rel="stylesheet" href="css/main.css" media="all"/>

</head>
<body class="login">
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 text-center">
                    <h1>WebRTC<br />Simple App</h1>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-6">
                            <a class="btn btn-block btn-social btn-google-plus" href="/auth/google">
                                <i class="fa fa-google-plus"></i> Sign in with Google
                            </a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-6">
                            <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
                                <i class="fa fa-facebook"></i> Sign in with Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>